ActionTrackerKit/Sources/DataLayer/Resources/weapons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Weapons">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Weapon" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Mandatory fields -->
              <xs:element name="Name" type="xs:string" minOccurs="1"/>
              <xs:element name="Set" type="xs:string" minOccurs="1"/>
              <xs:element name="Deck" type="xs:string" minOccurs="1"/>
              <xs:element name="Count" type="xs:integer" minOccurs="1"/>
              <xs:element name="Category" type="xs:string" minOccurs="1"/>

              <!-- Optional weapon substructures -->
              <xs:element name="Melee" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Range" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Dice" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Accuracy" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Damage" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Overload" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Kill_Noise" type="xs:boolean" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="Ranged" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ammo_Type" type="xs:string" minOccurs="0"/>
                    <xs:element name="Range_Min" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Range_Max" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Dice" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Accuracy" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Damage" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Overload" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Kill_Noise" type="xs:boolean" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <!-- Optional common fields -->
              <xs:element name="Open_Door" type="xs:boolean" minOccurs="0"/>
              <xs:element name="Door_Noise" type="xs:boolean" minOccurs="0"/>
              <xs:element name="Dual" type="xs:boolean" minOccurs="0"/>
              <xs:element name="Special" type="xs:string" minOccurs="0"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
